---
title: Careers
date: 2023-02-20 11:15:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
	<!-- BEGIN CONTENT -->
	<div class="col-md-12 col-sm-12">
		<div class="content-page">
			<div class="row margin-bottom-10">
				<!-- BEGIN INFO BLOCK -->
				<div class="col-md-12">
					<h2 class="no-top-space">Work at Cranberry Consulting</h2>
					<p>We believe that time off is in fact time off for our most important resource; our people and their wellbeing.  A happy employee makes our customers happy.  We take our Work-Life balance very seriously and have structured the organization for individuals from all walks of life.  Reach out to learn more about our mindset and the dreams we follow every day!</p>
					<p> We are an organization that believes in a fair wage and benefits that you actually benefit from.  Please submit a resume to find out more!</p>
				</div>
				<!-- END INFO BLOCK -->
			</div>
			<div class="row front-team" style="margin-left:0px">
				<h2>Openings</h2>
				<div class="thumbnail">
					<div id="projectManagerI">
						<h3><strong>Project Manager I</strong></h3>
						<p><strong>MEP/Control System with a Concentration in Critical Facilities</strong></p>
						<p><strong>Cranberry Consulting Company looks to collaborations and goal-oriented persons to drive culture and success.</strong><span style="font-weight: 400;"> We aim to build upon the strengths of employees to help the team accomplish great things. We ask our team to look at situations on a case-by-case basis and apply the proper due diligence for the greatest client outcomes.&nbsp;Challenging the status quo gives us a drive to aid our team to satisfy our customers. As our world changes rapidly, we follow trends and utilize new technology to improve and accelerate our work product. &nbsp;We believe in our team and our ability bring long term success to our partners.</span></p>
						<p><span style="font-weight: 400;">We are looking to bring a professional to the team, with a can-do attitude and the ability to utilize available technology when finding solutions.</span></p>
						<p><span style="font-weight: 400;">Cranberry Consulting Company is looking for a Project Manager I that oversees efforts for the clients, a firm understanding of client big-picture strategies, their goals, and ability to foresee challenges. To succeed in this fast-paced role, self-motivation must complement technical expertise.&nbsp;Effective relationship building, communication skills, and ability to reach client&rsquo;s tangible and intangible goals will prove abilities. The ideal candidate possesses experience in programs or projects within MEP, machine control/BMS/EPMS/DCIM/SCADA systems, cybersecurity, implementation, and operations.</span></p>
						<p><strong>Job Responsibilities:</strong></p>
						<p><span style="font-weight: 400;">The Project Manager I will coordinate with internal and external clients to develop and provide industry leading management of projects in MEP and the systems supporting its control and automation. &nbsp;Job responsibilities&nbsp;will include, but are not limited to:</span></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Creation of internal and external standards</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Process creation for the department</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Support preparing RFP and the supporting process</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Project budgeting</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">ROM&rsquo;s to support projects</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Project planning and scheduling</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Oversight of technical resources internal and external</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Establishing communication protocols</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Document Management</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">RFI management and responses</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Change order process and execution</span></li>
						</ul>
						<p><span style="font-weight: 400;">Internally, a successful candidate will set the bar for quality for the customers they support.&nbsp; They will manage and oversee all systems to support the rapid creation of work product and management of internal and external responsibilities to effectively meet collaboratively set goals.</span></p>
						<p><span style="font-weight: 400;">The position may require travel to sites domestic and international.&nbsp;These trips will be customer specified or part of sales/marketing efforts.&nbsp;Expect 10% travel on average, but not to exceed 25%.</span></p>
						<p><strong>Additional Responsibilities:</strong></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Leadership.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Create and upkeep schedules and employee loading.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Budgets for client projects.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Internal budgeting/billing.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Detailed scoping and supporting reports.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Attending project meetings and interface with clients and vendors.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Manage quality control and resources.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Support business development activities and client relationships.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Maintain up to date processes and standards.</span></li>
						</ul>
						<p><strong>Additional requirements:</strong></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Associate&rsquo;s/Bachelor&rsquo;s degree in an engineering or management concentration (candidates may substitute significant years of relevant experience over a degree).</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">3+ years working within project management, technical sales management, or other applicable experience in the concentration of MEP or controls and instrumentation for vendors, consultants, or an end user.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Knowledge of MEP and machine design/HVAC/electrical instrumentation and their applications in a mission critical environment.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Understanding of building IT/OT infrastructure and the&nbsp;understanding of other low voltage technologies including security systems, lighting control systems, and fire alarm systems.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Understanding of smart building technology convergence and low-voltage sub-system integration for IT and parallel OT network Infrastructure design.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Team player: comfortable as individual contributor and in a team environment.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Organization skills allowing individual to manage multiple tasks simultaneously.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Active involvement with industry organizations is preferred.</span></li>
						</ul>
						<p><strong>Benefits:</strong></p>
						<p><span style="font-weight: 400;">Get in on the ground floor to help build an organization that aims to disrupt and bring about positive change to the industry.&nbsp;Our commitment to our clients is to advance commonly accepted practice through the applicable support to end users.&nbsp;We truly believe the correct support of clients is relevant to their situation, allowing for effective results.</span></p>
						<p><span style="font-weight: 400;">Cranberry Consulting Company focuses on a collegiate culture to ensure positive experiences of our team members, resulting in positive customer experience.&nbsp;We provide individual support to team members to advance careers and encourage growth and employee satisfaction.&nbsp;</span></p>
						<p><span style="font-weight: 400;">Flexible benefits packages are a part of the culture here at Cranberry Consulting Company.&nbsp;We look to provide competitive benefits that align with individual needs and support their life both in and outside of their career.&nbsp;The benefits include:</span></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Flexible schedule with core team hours and days</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Hybrid work arrangement</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Medical, dental, and vision insurance</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">401(k) retirement plan with employer match</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Life Insurance</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Professional organization reimbursement</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Professional development incentive bonus</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Opportunities for community outreach through internal networks</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">A Generous Personal Time Off Program (PTO)</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Monthly business phone stipend</span></li>
						</ul>
						<p>&nbsp;</p>
						<p><span style="font-weight: 400;">At Cranberry Consulting Company we believe that time off is in fact time off for our most important resource, our people, for their wellbeing. A happy teammate makes our customers happy. We take our Life-Work balance very seriously and have structured the organization for individuals from all walks of life.&nbsp;Reach out to learn more about our mindset and the dreams we follow every day!</span></p>
					</div>
					<div id="designEngineer">
						<h3><strong>Design Engineer</strong></h3>
						<p><strong>Mechanical/Control System with a Concentration in Critical Facilities</strong></p>
						<p><strong>Cranberry Consulting Company looks to collaborations and goal-oriented persons to drive culture and success.</strong><span style="font-weight: 400;"> We aim to build upon the strengths of employees to help the team accomplish great things. We ask our team to look at situations on a case-by-case basis and apply the proper due diligence for the greatest client outcomes.&nbsp;Challenging the status quo gives us a drive to aid our team to satisfy our customers. As our world changes rapidly, we follow trends and utilize new technology to improve and accelerate our work product. &nbsp;We believe in our team and our ability bring long term success to our partners.</span></p>
						<p><span style="font-weight: 400;">We are looking to bring a seasoned professional to the team, with a can-do attitude and the ability to utilize available technology when finding solutions.</span></p>
						<p><span style="font-weight: 400;">Cranberry Consulting Company is looking for a BMS Engineer/Consultant that oversees all efforts for the clients, a firm understanding of client big-picture strategies, their goals, and ability to foresee challenges. To succeed in this fast-paced role, self-motivation must complement technical expertise.&nbsp;Effective relationship building, communication skills, and ability to reach client&rsquo;s tangible and intangible goals will prove abilities. The ideal candidate possesses experience in machine control/BMS/EPMS/DCIM/SCADA systems design, implementation, and operations.</span></p>
						<p><strong>Job Responsibilities:</strong></p>
						<p><span style="font-weight: 400;">The design engineer will coordinate with internal and external clients to develop and provide industry leading instrumentation and controls documentation.&nbsp;Job responsibilities&nbsp;will include, but are not limited to:</span></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Creation of internal and external standards</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Process creation for the department</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Preparing sequence of operations/controls narratives</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Drafting specifications for control systems</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Design calculations</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Reporting on existing facilities</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Compose vendor oversite reports</span></li>
						</ul>
						<p><span style="font-weight: 400;">Internally, the successful candidate will adhere quality of design expectations, support all systems for rapid creation of work product, management of internal and external responsibilities to effectively meet the collaboratively set goals is expected.</span></p>
						<p><span style="font-weight: 400;">The position may require travel to sites domestic and international.&nbsp;These trips will be customer specified or part of sales/marketing efforts.&nbsp;Expect 25% travel on average.</span></p>
						<p><strong>Additional Responsibilities:</strong></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Drawings preparation.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Control system design for retrofits and green field.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Equipment selection and writing supporting reports.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Attending project meetings and interface with clients and vendors.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Quality control.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Support business development activities and client relationships.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Maintain up to date processes and standards.</span></li>
						</ul>
						<p><strong>Additional requirements:</strong></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Bachelor&rsquo;s degree in an engineering concentration (candidates may substitute significant years of relevant experience over a degree)</span></li>
						</ul>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">5+ years working with controls and instrumentation as an engineer, consultant, contractor, or end user.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Thorough knowledge of machine design/HVAC/electrical instrumentation design and creation of control sequence of operations for applications.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Understanding of building IT/OT infrastructure and the&nbsp;understanding of other low voltage technologies including security systems, lighting control systems, and fire alarm systems.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Understanding of smart building technology convergence and low-voltage sub-system integration for IT and parallel OT network Infrastructure design.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Proficient in AutoCAD (AutoCAD Electrical preferred).</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Familiarity with programming for logic systems such as DDC and PLCs.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Team player: comfortable as individual contributor and in a team environment.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Organization skills allowing individual to manage multiple tasks simultaneously.</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Active involvement with industry organizations is preferred.</span></li>
						</ul>
						<p><strong>Benefits:</strong></p>
						<p><span style="font-weight: 400;">Get in on the ground floor to help build an organization that aims to disrupt and bring about positive change to the industry.&nbsp;Our commitment to our clients is to advance commonly accepted practice through the applicable support to end users.&nbsp;We truly believe the correct support of clients is relevant to their situation, allowing for effective results.</span></p>
						<p><span style="font-weight: 400;">Cranberry Consulting Company focuses on a collegiate culture to ensure positive experiences of our team members, resulting in positive customer experience.&nbsp;We provide individual support to team members to advance careers and encourage growth and employee satisfaction.&nbsp;</span></p>
						<p><span style="font-weight: 400;">Flexible benefits packages are a part of the culture here at Cranberry Consulting Company.&nbsp;We look to provide competitive benefits that align with individual needs and support their life both in and outside of their career.&nbsp;The benefits include:</span></p>
						<ul style="padding-left: 50px">
						<li style="font-weight: 400;"><span style="font-weight: 400;">Flexible schedule with core team hours and days</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Hybrid work arrangement</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Medical, dental, and vision insurance</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">401(k) retirement plan with employer match</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Life Insurance</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Professional organization reimbursement</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Professional development incentive bonus</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Opportunities for community outreach through internal networks</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">A Generous Personal Time Off Program (PTO)</span></li>
						<li style="font-weight: 400;"><span style="font-weight: 400;">Monthly business phone stipend</span></li>
						</ul>
						<p>&nbsp;</p>
						<p><span style="font-weight: 400;">At Cranberry Consulting Company we believe that time off is in fact time off for our most important resource, our people, for their wellbeing. A happy teammate makes our customers happy. We take our Life-Work balance very seriously and have structured the organization for individuals from all walks of life.&nbsp;Reach out to learn more about our mindset and the dreams we follow every day!</span></p>
					</div>
					<!--TODO create thumbnail of correct size, this is inefficient -->
					<div>
						<h3>Other</h3>
						<p>We are always accepting resumes from engineers, project/program managers, and similar professionals from many verticals. Submit yours to <a href="mailto:careers@cranberry-consulting.com">careers@cranberry-consulting.com</a></p>
					</div>
					<ul class="social-icons social-icons-color">
						<li><a class="linkedin" data-original-title="Linkedin" href="https://www.linkedin.com/in/thomas-stachowski-p-e"></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
